* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

:root {
  --headerHeight: 100px;
  --headerHeightMobile: 68px;
  --headerBorderColor: lightgray;

  --footerHeight: 150px;
  --footerHeightMobile: 50px;
  --footerBorderColor: lightgray;

  --mainBordersColor: white;
  
  --carouselDescriptionColor: #222227;
  --carouselBordersColor: #19181d;

  --redColor: red;
  --redActiveBackground: red;
  --blueColor: cyan;
  --blueActiveBackground: cyan;
  --lightGrayColor: lightgray;
  --lightGrayActiveBackground: lightgray;
  --textActiveColor: black;

  --generalTextColor: lightgray;
  --brighterTextColor: white;
  --commentaryColor: #a0a0a0;
  --linksInTextColor: tomato;

  --iconGeneralColor: lightgray;
  --iconHoverColor: white;
  --iconActiveColor: lightgray;

}

.lagosta {
  font-family: 'Lobster', cursive;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./src/assets/backgroundAll.png");
  margin: 0;
  padding: 0;
  width: 100%;
}


/*  Header CSS  */
header {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--headerHeight);
  width: 100%;
  border-bottom: solid 1px var(--headerBorderColor);
}

.myName {
  color: var(--brighterTextColor);
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  margin-left: 50px;
  text-decoration: none;
}

.nav_bar {
  margin: 0;
  padding: 0;
  margin-right: 50px;
  display: flex;
  list-style-type: none;
}

.nav_bar li {
  margin: 0;
  padding: 0;
  margin-left: 15px;
}

.nav_bar li a {
  padding: 5px 10px;
  text-decoration: none;
  font-size: 1.3em;
}


/*  Footer CSS  */
h3 {
  font-size: 1.3em;
  color: var(--generalTextColor);
}

footer {
  margin: 0;
  padding: 0;
  height: var(--footerHeight);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: solid 1px var(--footerBorderColor);
}


.forDate {
  color: var(--generalTextColor);
  padding-top: 20px;
  margin: 0;
  margin-left: 50px;
}

.gitContainer {
  margin: 0;
  padding: 0;
  margin-right: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.createdSay p {
  color: var(--generalTextColor);
}

.linksSocial {
  margin: 0;
  padding: 0;
  margin-left: 30px;
}

.linksSocial i {
  color: var(--iconGeneralColor);
  margin: 0;
  padding: 0;
  transform: scale(3);
}

.linksSocial i:hover {
  color: var(--iconHoverColor);
}

.linksSocial i:active {
  color: var(--iconActiveColor);
}

/* Main CSS  */
main {
  min-height: calc(100vh - var(--footerHeight) - var(--headerHeight));
  margin: 0px;
  padding: 0px;
  background: none;
  display: flex;
}

.introduction {
  margin: 0;
  padding: 0;
  margin-left: 100px;
  margin-top: 100px;
  width: 800px;
  height: auto;
  background: none;
}

.introduction p {
  padding: 0;
  margin: 0;
}

.about {
  margin: 0;
  padding: 0;
  height: 300px;
}

.carousel {
  margin: 0;
  padding: 0;
  height: 300px;
}

.text {
  font-size: 1.3em;
  padding: 10px;
  margin: 10px;
}

.hello {
  background: none;
  font-size: 10em;
  padding: 10px;
  margin: 10px;
  color: var(--generalTextColor);
}

.skills {
  font-size: 1.4em;
  padding: 0px 10px 10px 10px;
  margin: 0px 10px 10px 10px;
  color: var(--commentaryColor);
}

.homeNavBar {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.homeNavBar h3 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}

/*  button css  */
.button {
  margin-top: 20px;
  width: 170px;
  height: 60px;
  text-decoration: none;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.red {
  color: var(--redColor);
  border: solid 2px var(--redColor);
  border-radius: 10px;
}

.blue {
  color: var(--blueColor);
  border: solid 2px var(--blueColor);
  border-radius: 10px;
}

.lightGray {
  color: var(--lightGrayColor);
  border: solid 2px var(--lightGrayColor);
  border-radius: 10px;
}

.red:hover,
.blue:hover,
.lightGray:hover {
  font-weight: bold;
}

.red:active {
  background-color: var(--redActiveBackground);
  color: var(--textActiveColor)
}

.blue:active {
  background-color: var(--blueActiveBackground);
  color: var(--textActiveColor)
}

.lightGray:active {
  background-color: var(--lightGrayActiveBackground);
  color: var(--textActiveColor)
}

@media (max-width: 1300px) {
  .button {
    margin-left: 0px;
    margin-right: 20px;
  }

  main {
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
  }

  .homeNavBar {
    margin-left: 100px;
    margin-bottom: 50px;
    flex-direction: row;
    justify-content: flex-start;

  }

  .introduction {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 100px;
    width: auto;
    height: auto;
  }
}

@media (max-width: 990px) {
  .hello {
    font-size: 6em;
  }
}

@media (max-width: 690px) {
  .homeNavBar {
    margin-left: 20px;
    margin-bottom: 30px;
    flex-direction: row;
    justify-content: flex-start;
  }

  .introduction {
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 30px;
    width: auto;
    height: auto;
  }

  .gitContainer,
  .forDate {
    display: none;
  }

  .footer {
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 550px) {
  .hello {
    font-size: 3.5em;
  }

  .skills {
    margin-top: 20px;
    font-size: 1em;
  }

  .button {
    margin-top: 20px;
    width: 170px;
    height: 40px;
    text-decoration: none;
    font-size: 1.1em;
  }

  .introduction {
    margin-left: 10px;
    margin-right: 10px;
  }

  main {
    justify-content: space-between;
  }
}

@media (max-width: 480px) {


  footer {
    height: var(--footerHeightMobile);
  }

  header {
    height: var(--headerHeightMobile);
  }

  main {
    min-height: calc(100vh - var(--footerHeightMobile) - var(--headerHeightMobile));

  }
}
