<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../../../home.css">
  <link rel="stylesheet" href="./links.css">
  <script src="https://kit.fontawesome.com/1693a68714.js" crossorigin="anonymous"></script>
  <title>Founders Webpage</title>
</head>

<body>
  <header>
    <h1>
      <a href="../../../index.html" class="lagosta myName">Filipe</a>
    </h1>

    <ul class="nav_bar">
      <li>
        <a href="../../../index.html">Home</a>
      </li>
      <li>
        <a href="../about/about.html">About</a>
      </li>
    </ul>

  </header>

  <main>
    <div class="introduction">
      <h1 class="linksResume">
        Hey, I hope you enjoyed my work! <br /><br />
        Here are some links to get in contact or to get <br />
        more information about me!
        <br/><br/> 
        Thanks !!
      </h1>
    </div>

    <div class="homeNavBarLinks">
      <h3> Check it out:</h3>
      <a href="./src/components/about/about.html" class="button red">About</a>
      <a href="./src/components/links/links.html" class="button blue">Links</a>
    </div>
  </main>

  <footer class="footer">
    <div class="forDate"></div>
    <div class="createdSay">
      <p>Created by: Filipe C. Costa</p>
    </div>
    <div class="linksContainer">
      <h3>Follow me:</h3>
      <a class="linksSocial" href="https://github.com/Cancellier27">
        <i class="fab fa-github-square"></i>
      </a>
    </div>
  </footer>
  <script src='../../config/footer.js'></script>
</body>

</html>