.mainLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.introductionLinks {
  width: 100%;
  margin-top: 70px;
  margin-left: 150px;
}

.linksResume {
  background: none;
  font-size: 1.6em;
  font-weight: normal;
  padding: 10px;
  margin: 10px;
  color: whitesmoke;
}

.homeNavBarLinks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.linksContainer {
  margin: 0;
  padding: 0;

  margin-bottom: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 600px;
}

.LinkDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 150px;
}

.LINKS {
  padding: 0;
  margin: 0;
  color: white;
  font-size: 6em;
}

.LINKS:hover {
  font-size: 6.1em;
}

.LINKS:active {
  font-size: 6em;
}

.LinkDiv p {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 1.4em;
}
