.mainLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.introductionLinks {
  width: 80%;
  margin-top: 70px;
}

.linksResume {
  background: none;
  font-size: 1.6em;
  font-weight: normal;
  padding: 10px;
  margin: 10px;
  color: whitesmoke;
}

.homeNavBarLinks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.linksContainer {
  margin: 0;
  padding: 0;

  margin-bottom: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 600px;
}

.LinkDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 150px;
}

.LINKS {
  padding: 0;
  margin: 0;
  color: white;
  font-size: 6em;
}

.LINKS:hover {
  font-size: 6.1em;
}

.LINKS:active {
  font-size: 6em;
}

a {
  text-decoration: none;
}

.LinkDiv p {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 1.4em;

}

@media (max-width: 700px) {
  .linksContainer {
    width: 500px;
  }

  .introductionLinks {
    margin-left: 30px;
    margin-right: 30px;
  }

}

@media (max-width: 600px) {
  .linksContainer {
    width: 300px;
  }

  .LinkDiv {
    height: 70px;
  }

  .LinkDiv p {
    font-size: 0.8em;
  }

  .LINKS {
    font-size: 3em;
  }

  .introductionLinks {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
  }

  .linksResume {
    font-size: 1.2em;
  }

  .linksContainer {
    margin-bottom: 60px;
  }

  .HomeLink {
    display: none;
  }
}

@media (max-width: 350px) {
  .linksContainer {
    width: 300px;
  }

  .LinkDiv p {
    font-size: 0.8em;
  }
}