* {
  box-sizing: border-box;
}

.aboutContainer {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}


.first-letter {
  color: lightgrey;
  font-family: 'Lobster', cursive;
  font-size: 4em;
}

.text {
  color: lightgrey;
}

.textContainer {
  margin: 0;
  padding: 0;

  margin: 50px;
  padding: 20px;
  display: flex;
}

.siteLink {
  color: tomato;
}

.carouselContainer {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  /* height: 300px; */
  width: 1560px;
  border: solid 1px red;

  overflow: hidden;
}

.carouselSlider {
  margin: 0;
  padding: 0;

  height: 300px;
  width: 100%;

  display: flex;

  /* border: 5px purple solid; */

  transform: translateX(0px);
  /* transition-duration: 1000ms; */
}

.carouselContainer img {
  /* padding: 5px 10px 5px 10px; */
  margin: 5px 10px 5px 10px;
  object-fit: cover;
  width: 500px;
  /* height: auto; */

  border: solid white 2px;
  border-radius: 10px;
}
