<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../../../home.css">
  <link rel="stylesheet" href="./about.css">
  <script src="https://kit.fontawesome.com/1693a68714.js" crossorigin="anonymous"></script>
  <title>Founders Webpage</title>
</head>

<body>
  <header>
    <h1>
      <a href="../../../index.html" class="lagosta myName">Filipe</a>
    </h1>

    <ul class="nav_bar">
      <li>
        <a href="../../../index.html">Home</a>
      </li>
      <li>
        <a href="../links/links.html">Links</a>
      </li>
    </ul>

  </header>

  <main class="aboutContainer">
    <div class="textContainer">
      <p class="text">
        <span class="first-letter">H</span>ello, my name is <strong>Filipe Cancellier da Costa</strong>. <br /><br />

        I have a graduation in Civil Engineering and I'm originally from Brazil.<br /><br />

        My career is resumed to engineering jobs, so I all my professionals skill are turned to this area, but I was
        felling that something was missing, I wasn't totally happy in Civil Engineer area, so I decided to try another thing.
        I always enjoyed computer, games and technology so I thought "Why not try codding?", and so I did.<br /><br />

        I started my studies in codding in 2018, and at that time I started studying <a class="siteLink"
          href="https://www.python.org/">Python</a> and so my first "Hello World" was done in Python. The codding was
        nice, all the logic and the algorithms, I was really enjoying that, but I wasn't felling good about the language, I mean
        Python is an amazing language, but for a start, you would like to see thing happen on screen, and not see only numbers.<br />
        So I had a conversation with my cousin, that is a Front-End Engineer, and he showed me
        <a class="siteLink" href="https://developer.mozilla.org/en-US/docs/Web/HTML">HTML</a>,
        <a class="siteLink" href="https://developer.mozilla.org/en-US/docs/Web/CSS">CSS</a> and
        <a class="siteLink" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">Javascript</a>,
        he said that maybe I would like it more than python.
        After that day I turned all my studies routine to learn web-development.<br />
        It's so nice to learn web, because you can see everything that you code in front of you and can see 
        how much do you progress every single day.<br /><br />

        I am studying every day, but I don't fell that I already have enough for a job in web area, 
        so when I heard about Founders and Coders I thought that this could be the perfect opportunity 
        for me to learn more a get the confidence to start a career web-development. Founders and Coders seems 
        to be a great community, fulled with people who want to lean an who want to help, it really look like a 
        nice place be your first step in your programming career. 
        And thats why I'm looking forward to be part of this program, and learn as much as I can!      
      </p>
    </div>

    <h3>Here are some exemples of projects that I have  made so far:</h3>
    <div class="carouselContainer">
      <div class="carouselSlider">
        <div class="slidesImg">
          <img id="firstImg" src="../../assets/carouselImg/EcoletaSite.PNG" alt="EcoletaSite">
          <div class="description">
            <p>
              An app for gathering of disposable materials made in React and using Typescript.
            </p>
            <div>
              <a href="https://github.com/Cancellier27/NextLevelWeek" class="buttonLinkDesc red">Repo Link</a>
            </div>
          </div>
        </div>
        <div class="slidesImg">
          <img src="../../assets/carouselImg/fiflix.png" alt="fiflix">
          <div class="description">
            <p>
              An App cloning Netflix interface, but for videos of my own preference.
              Made with React
            </p>
            <div>
              <a href="https://github.com/Cancellier27/React-Immersion" class="buttonLinkDesc red">Repo Link</a>
            </div>
          </div>
        </div>
        <div class="slidesImg">
          <img src="../../assets/carouselImg/Forca.PNG" alt="Forca">
          <div class="description">
            <p>
              One of my firsts app. A simple game called "Joga Da Forca" (brazilian name), where 
              you should guess wish is the correct word before yours changes ends. Made with vanilla JS
            </p>
            <div>
              <a href="https://github.com/Cancellier27/Jogo-Forca" class="buttonLinkDesc red">Repo Link</a>
            </div>
          </div>
        </div>
        <div class="slidesImg">
          <img src="../../assets/carouselImg/githubApp.PNG" alt="githubApp">
          <div class="description">
            <p>
              An search app using the GitHub api, where you can find the users and theirs repos.
              Made with React
            </p>
            <div>
              <a href="https://github.com/Cancellier27/github-search-app" class="buttonLinkDesc red">Repo Link</a>
            </div>
          </div>
        </div>
        <div class="slidesImg">
          <img src="../../assets/carouselImg/jogoDaVelha.PNG" alt="jogoDaVelha">
          <div class="description">
            <p>
              My firs app. Hash game made with vanilla JS
            </p>
            <div>
              <a href="https://github.com/Cancellier27/HashGame" class="buttonLinkDesc red">Repo Link</a>
            </div>
          </div>
        </div>
        <div class="slidesImg">
          <img id="lastImg" src="../../assets/carouselImg/PersonalSite.png" alt="PersonalSite">
          <div class="description">
            <p>
              An idea of site create with the purpose to be a portfolio.
              Made with React
            </p>
            <div>
              <a href="https://github.com/Cancellier27/FilipeSite" class="buttonLinkDesc red">Repo Link</a>
            </div>
          </div>
        </div>
        <div class="slidesImg">
          <img src="../../assets/carouselImg/timerReact.PNG" alt="timerReact">
          <div class="description">
            <p>
              An timer made with React to train my logic skills.
            </p>
            <div>
              <a href="https://github.com/Cancellier27/Timer-React" class="buttonLinkDesc red">Repo Link</a>
            </div>
          </div>
        </div>
      </div>
      <div class="buttonsSlider">
        <button class="prevButton">
          <i class="fas fa-chevron-circle-left"></i>
        </button>
        <button class="nextButton">
          <i class="fas fa-chevron-circle-right"></i>
        </button>
      </div>
    </div>

  </main>

  <footer class="footer">
    <div class="forDate"></div>
    <div class="createdSay">
      <p>Created by: Filipe C. Costa</p>
    </div>
    <div class="gitContainer">
      <h3>Follow me:</h3>
      <a class="linksSocial" href="https://github.com/Cancellier27">
        <i class="fab fa-github-square"></i>
      </a>
    </div>
  </footer>
  <script src='../../config/footer.js'></script>
  <script src='../../config/carousel.js'></script>
</body>

</html>