* {
  box-sizing: border-box;
}

.aboutContainer {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}


.first-letter {
  color: lightgrey;
  font-family: 'Lobster', cursive;
  font-size: 4em;
}

.text {
  color: lightgrey;
}

.textContainer {
  margin: 0;
  padding: 0;

  margin: 50px;
  padding: 20px;
  display: flex;
}

.siteLink {
  color: tomato;
}

.carouselContainer {
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 1540px;
  height: 300px;
  border-left: solid 5px var(--buttonActiveColor);
  border-right: solid 5px var(--buttonActiveColor);
  overflow: hidden;

}

.carouselSlider {
  margin: 0;
  padding: 0;

  height: 100%;
  width: 100%;

  display: flex;

  transform: translateX(0px);
}

.slidesImg {
  margin: 5px 5px 5px 5px;
  /* padding: 0; */
}

.slidesImg img {
  object-fit: cover;
  width: 500px;
  height: 290px;

  border: solid var(--buttonHoverColor) 2px;
  border-radius: 10px;
}

.buttonsSlider {
  position: absolute;
  top: 45%;
  left: 0%;
  width: 1530px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prevButton,
.nextButton {
  margin: 0;
  padding: 0;
  cursor: pointer;
  background: transparent;
  font-size: 40px;
  border: none;
}

.prevButton:focus,
.nextButton:focus {
  outline: none;
}