main #projects {
  background: rgb(34,34,34);
/* background: linear-gradient(180deg, rgba(68,71,92,1) 0%, rgb(24, 24, 24) 100%); */
  /* padding: 10% 0; */
    
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main #projects h1 {
  font-size: 2em;
  font-weight: normal;
}

main .carouselContainer {
  position: relative;

  /* margin-top: 10px;
  margin-bottom: 50px; */
  
  width: 100vw;
  height: 700px;

  display: flex;
  justify-content: center;
  align-items: center;
}

main .carouselContainer .carouselSlider {
  position: relative;

  height: 100%;
  width: 60%;
}

main .carouselContainer .carouselSlider .slidesImg {
  position: absolute;

  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

main .carouselContainer .carouselSlider .slidesImg img {
  height: 90%;
  width: 100%;

  border: solid 2px var(--carouselBordersColor);
  border-radius: 5px;
  
  object-fit: cover;
  object-position: top;
}

main .carouselContainer .carouselSlider .slidesImg .description {
  margin-top: 1px;

  height: 10%;
  width: 100%;
  
  background: var(--carouselDescriptionColor);
  
  border: solid var(--carouselBordersColor) 2px;
  border-radius: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .carouselContainer .carouselSlider .slidesImg .description div {
  height: 100%;
  margin: 0 2%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .carouselContainer .carouselSlider .slidesImg .description div a.buttonLinkDesc {
  height: 70%;
  padding: 0 15px 0 15px;

  font-size: 1.2em;
}

main .carouselContainer .carouselSlider .slidesImg .description p {
  font-size: 1.5em;
  color: var(--textColorStandard);
}

main .carouselContainer .buttonsSlider {
  position: absolute;
  top: 45%;
  
  width: 70%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .carouselContainer .buttonsSlider .prevButton,
main .carouselContainer .buttonsSlider .nextButton {
  background: transparent;
  font-size: 45px;
  border: none;

  cursor: pointer;
}

main .carouselContainer .buttonsSlider .prevButton:focus,
main .carouselContainer .buttonsSlider .nextButton:focus {
  outline: none;
}


@media (max-width: 1100px) {
  main .carouselContainer .carouselSlider .slidesImg .description p {
    font-size: 1em;
  }
}

@media (max-width: 900px) {

  main .carouselContainer .carouselSlider .slidesImg img {
    height: 70%;
  }

  main .carouselContainer .carouselSlider .slidesImg .description {
    height: 30%;
  }

  main .carouselContainer .carouselSlider .slidesImg .description p {
    font-size: 0.8em;
  }

  main .carouselContainer .carouselSlider .slidesImg .description div a .buttonLinkDesc {
    width: 60px;
    height: 35px;
    font-size: 1em;
  }

  main .carouselContainer .buttonsSlider {
    top: 35%;
  }

  main .carouselContainer .buttonsSlider .prevButton,
  main .carouselContainer .buttonsSlider .nextButton {
    font-size: 25px;
  }
}

@media (max-width: 700px) {
  main .carouselContainer {
    width: calc((100vw / 1.1));
    height: calc(100vw / 1.3);
  }

  main .carouselContainer .carouselSlider .slidesImg img {
    width: calc(100vw / 1.1 - 10px);
  }

  main .carouselContainer .carouselSlider .slidesImg .description div a.buttonLinkDesc {
    font-size: 0.8em;
  }

  main .carouselTitle {
    font-size: 1em;
    padding: 10px;
    width: 95%;
  }
}

@media (max-width: 420px) {
  main .textContainer .text {
    font-size: 1em;
  }

  main .textContainer {
    padding: 25px 0 30px 0;
  }

  .lightGray {
    display: none;
  }
}
