main #aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, var(--gradientColorAboutMe1) 0%, var(--gradientColorAboutMe2) 100%);
}

main #aboutMe h1 {
  font-weight: normal;
  font-size: 3em;
  margin-top: 150px;

}

main #aboutMe .text {
  font-size: 1.4em;
  font-weight: normal;
  letter-spacing: 1px;
  color: var(--textColorStandard);
  margin: 0 2% 5% 5%;

}

main #aboutMe .text .first-letter {
  color: var(--textColorRed);
  font-family: 'Bebas Neue', cursive;
  font-size: 4em;
}

main #aboutMe .text img {
  width: 20%;
  min-width: 200px;
  margin: 3% 0 20px 3%;
  border-radius: 20px;
  box-shadow: -5px 5px 10px 3px #3b3b3b;
  float: right;
}

@media (max-width: 425px) {
  main #aboutMe h1 {
    font-size: 2.5em;
    margin-top: 100px;
    margin-bottom: 20px;
  
  }

  main #aboutMe .text img {
    min-width: 150px;
    margin-right: 4%;
  }

  main #aboutMe .text {
    font-size: 1em;
    margin-bottom: 50px;
  }

}