:root {
  --headerHeight: 80px;
  --headerHeightMobile: 68px;
  --headerBackgroundColor: rgba(0, 0, 0, 0.7);

  --footerHeight: 150px;
  --footerHeightMobile: 50px;
  --footerBackgroundColor: #000;

  --textColorRed: #ef0d33;
  --activateColor: #911919;

  --textColorStandard: #fff;
  --textColorDark: #000;
  --textColorSmoked: #d8d8d8;

  --btnBackground: #ffffff;
  --btnHoverBackground: #ef0d33;
  --btnActiveBackground: #911919;

  --linksInTextColor: #ef0d33;

  --iconGeneralColor: #fff;
  --iconHoverColor: #c7c7c7;

  --carouselDescriptionColor: #222227;
  --carouselBordersColor: #19181d;

  --gradientColorAboutMe1: rgb(27, 27, 27);
  --gradientColorAboutMe2: rgb(40, 41, 48);

  --gradientColorProjects1: rgba(17, 17, 23, 1);
  --gradientColorProjects2: rgba(48, 48, 59, 1);

  --homeBackgroundImg: url('../assets/backgrounds/backgroundDark.png');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;

  scroll-behavior: smooth;
}

/* standards */
.container {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
}

.selected {
  opacity: 1 !important;
  z-index: 5 !important;
}

.bebasFont {
  font-family: 'Bebas Neue', cursive;
}

.imgPositionLeft {
  object-position: left;
}

.btn {
  overflow: hidden;
  height: 60px;
  padding: 0 40px;
  max-width: 220px;

  text-decoration: none;
  color: var(--btnHoverBackground);

  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 2px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--btnBackground);
  border-radius: 3px;

  box-shadow: inset 0 0 0 0 var(--btnBackground);
  transition: ease-out 0.3s;
}

.btn:hover {
  box-shadow: inset 300px 0 0 0 var(--btnHoverBackground);
  color: var(--textColorStandard);
}

.btn:active {
  transition: ease-out 0s;
  box-shadow: inset 300px 0 0 0 var(--btnActiveBackground);
  color: var(--textColorStandard);
}

/* Color themes */
.redText {
  color: var(--textColorRed);
}

.redLinks {
  color: var(--textColorStandard);
  transition: color 0.4s;
}

.redLinks:hover {
  color: var(--textColorRed) !important;
  font-weight: bold !important;
  cursor: pointer;
}

.redLinks:active {
  color: var(--activateColor);
  transition: color 0.1s;
}