header {
  position: fixed;
  top: 0;

  height: var(--headerHeight);
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  background-color: var(--headerBackgroundColor);

  z-index: 10;
}

header .myName {
  margin-right: 2%;
  margin-left: 3%;

  color: var(--textColorRed);

  font-size: 3em;
  font-weight: 500;
  text-decoration: none;
}

header .nav_bar {
  display: flex;
  list-style-type: none;
}

header .nav_bar li a {
  padding: 0 10px;
  text-decoration: none;
  font-size: 1.5em;
}

.nightModeBtn {
  position: fixed;
  top: calc(var(--headerHeight) / 2 - 10);
  right: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: var(--textColorStandard);
}

.switch {
  margin: 0 5px;

  position: relative;
  display: inline-block;

  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 80%;
  width: 40%;

  left: 5px;
  top: 2.2px;

  background-color: white;
  transition: .4s;
}

input:checked+.slider {
  background-color: var(--textColorRed);
}

input:checked+.slider:before {
  transform: translateX(100%);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}