:root {
  --headerHeight: 80px;
  --headerHeightMobile: 68px;
  --headerBackgroundColor: rgba(0, 0, 0, 0.7);

  --textColorRed: #ef0d33;
  --activateColor: #911919;

  --textColorStandard: #fff1f1;
  --textColorDark: #000;
  --textColorSmoked: #d8d8d8;

  --footerHeight: 150px;
  --footerHeightMobile: 50px;
  --footerBackgroundColor: black;

  --btnBackground: #ffffff;
  --btnHoverBackground: #ef0d33;
  --btnActiveBackground: #911919;



  --carouselDescriptionColor: #222227;
  --carouselBordersColor: #19181d;

  --redColor: #ef0d33;
  --redActiveBackground: #ef0d33;
  --blueColor: cyan;
  --blueActiveBackground: cyan;
  --lightGrayColor: lightgray;
  --lightGrayActiveBackground: lightgray;
  --textActiveColor: black;
  --normalActiveBackground: #9c9c9c;

  --generalTextColor: #fff;
  --brighterTextColor: #fff;
  --commentaryColor: #a0a0a0;
  --linksInTextColor: tomato;

  --iconGeneralColor: #fff;
  --iconHoverColor: #cacaca;
  --iconActiveColor: #fff;
}


* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  background-color: #111517;
  width: 100%;
}

.container {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
}

.blues {
  background-color: rgb(27, 27, 71);
}

.white {
  background-color: rgb(46, 39, 39);
}


/* fonts */

.lagosta {
  font-family: 'Lobster', cursive;
}

.bebas {
  font-family: 'Bebas Neue', cursive;
}

/*  button  */
.btn {
  overflow: hidden;
  height: 60px;
  padding: 0 40px;

  text-decoration: none;
  color: var(--btnHoverBackground);

  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 2px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--btnBackground);
  border-radius: 3px;

  box-shadow: inset 0 0 0 0 var(--btnBackground);
  transition: ease-out 0.3s;
}

.btn:hover {
  box-shadow: inset 300px 0 0 0 var(--btnHoverBackground);
  color: var(--textColorStandard);
}

.btn:active {
  transition: ease-out 0s;
  box-shadow: inset 300px 0 0 0 var(--btnActiveBackground);
  color: var(--textColorStandard);
}

/* Color themes */

.redText {
  color: var(--textColorRed);
}

.redLinks {
  color: var(--textColorStandard);
  transition: color 0.4s;
}

.redLinks:hover {
  color: var(--textColorRed) !important;
  font-weight: bold !important;
  cursor: pointer;
}

.redLinks:active {
  color: var(--activateColor);
  transition: color 0.1s;
}


/* Main CSS  */
main {
  display: flex;
  justify-content: center;
  align-items: center;
}

main #home {
  background-image: url('../assets/backgrounds/02.png');


  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}


main #home .introduction {
  margin: 150px 0 0 150px;
}

main .introduction .hello {
  background: none;
  font-size: 10em;
  color: var(--generalTextColor);
}

main #home .separator {
  height: 5px;
  width: 80px;

  margin: 0 0 20px 0;

  background-color: var(--textColorRed);
}

main .introduction .skills {
  font-size: 1.4em;
  margin: 10px 0 0 0;
  color: var(--textColorSmoked);
}

main .homeNavBar {
  margin-top: 40px;
  margin-left: 150px;
}


main .textContainer .text {
  font-size: 1.3em;
  padding: 10px;
  margin: 10px;
}

@media (max-width: 1300px) {
  .button {
    margin-left: 0px;
    margin-right: 20px;
  }

  main {
    flex-direction: column;
    justify-content: flex-start;
  }

  main .homeNavBar {
    margin-left: 100px;
    margin-bottom: 50px;
    flex-direction: row;
    justify-content: flex-start;

  }
}

@media (max-width: 990px) {
  main .introduction .hello {
    font-size: 6em;
  }
}

@media (max-width: 690px) {
  main .homeNavBar {
    margin-left: 20px;
    margin-bottom: 30px;
    flex-direction: row;
    justify-content: flex-start;
  }

  main .introduction {
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 30px;
    width: auto;
    height: auto;
  }

  footer {
    align-items: center;
    justify-content: center;
  }

  footer .gitContainer,
  footer .forDate {
    display: none;
  }

}

@media (max-width: 550px) {
  main {
    justify-content: space-between;
  }

  main .introduction .hello {
    font-size: 3.5em;
  }

  main .introduction .skills {
    margin-top: 20px;
    font-size: 1em;
  }

  main .introduction {
    margin-left: 10px;
    margin-right: 10px;
  }

  .button {
    margin-top: 20px;
    width: 170px;
    height: 40px;
    text-decoration: none;
    font-size: 1.1em;
  }
}

@media (max-width: 480px) {
  footer {
    height: var(--footerHeightMobile);
  }

  header {
    height: var(--headerHeightMobile);
  }

  main {
    min-height: calc(100vh - var(--footerHeightMobile) - var(--headerHeightMobile));
  }
}