main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main #home {
  background-image: var(--homeBackgroundImg);
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  padding: 10% 0;
  width: 100%;

}

main #home .introduction {
  width: 90%;
  margin-top: 80px;
}

main #home .introduction h1 {
  background: none;
  font-size: 10rem;
  color: var(--textColorStandard);
}

main #home .introduction .skills {
  font-size: 1.4em;
  margin: 10px 0 0 0;
  color: var(--textColorSmoked);
}

main #home .separator {
  height: 5px;
  width: 80px;

  margin: 0 0 20px 0;

  background-color: var(--textColorRed);
}

main #home .btnContainer {
  width: 90%;
}

main #home .btnContainer div {
  margin-top: 40px;
}

@media (max-width: 615px) {
  main #home .introduction h1 {
    font-size: 8rem;
  }

  main #home .introduction .skills {
    font-size: 1.2em;
  }

  main .introduction {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 425px) {
  .linksResume {
    font-size: 1em;
  }

  main #home .introduction h1 {
    font-size: 6rem;
  }

  main #home .introduction .skills {
    font-size: 0.8em;
  }

  main #home .btnContainer div a {
    font-size: 0.8em;
    width: 190px;
    height: 50px;
  }
}