main #projects {
  background: linear-gradient(90deg, var(--gradientColorProjects1) 0%, var(--gradientColorProjects2) 50%, var(--gradientColorProjects1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main #projects h1 {
  font-size: 2.5em;
  font-weight: normal;
  margin-top: 110px;
}

main .carouselContainer {
  position: relative;

  margin-top: 50px;
  margin-bottom: 50px;

  width: 100%;
  height: 650px;

  display: flex;
  justify-content: center;
  align-items: center;
}

main .carouselContainer .carouselSlider {
  position: relative;

  height: 100%;
  width: 1000px;
}

main .carouselContainer .carouselSlider .slidesImg {
  position: absolute;

  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

main .carouselContainer .carouselSlider .slidesImg img {
  height: 90%;
  width: 100%;
  max-width: 100%;

  border: solid 2px var(--carouselBordersColor);
  border-radius: 5px;

  object-fit: cover;
  /* object-position: top; */
}

main .carouselContainer .carouselSlider .slidesImg .description {
  margin-top: 1px;

  height: 10%;
  width: 100%;

  background: var(--carouselDescriptionColor);

  border: solid var(--carouselBordersColor) 2px;
  border-radius: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  overflow: hidden;
}

main .carouselContainer .carouselSlider .slidesImg .description div {
  height: 100%;
  margin: 0 2%;

  min-width: 120px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .carouselContainer .carouselSlider .slidesImg .description div a {
  height: 70%;
  padding: 0 15px 0 15px;

  font-size: 1.2em;
}

main .carouselContainer .carouselSlider .slidesImg .description p {
  font-size: 1.3em;
  color: var(--textColorStandard);
  margin-left: 2%;
}

main .carouselContainer .buttonsSlider {
  position: absolute;
  top: 45%;

  width: 1200px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .carouselContainer .buttonsSlider .prevButton,
main .carouselContainer .buttonsSlider .nextButton {
  background: transparent;
  font-size: 45px;
  border: none;

  cursor: pointer;
}

main .carouselContainer .buttonsSlider .prevButton:focus,
main .carouselContainer .buttonsSlider .nextButton:focus {
  outline: none;
}


main #projects .projectTitle {
  color: var(--textColorStandard);
  font-size: 1.2em;
  width: 80%;
  text-align: center;

}

@media (max-width: 1250px) {
  main .carouselContainer {
    height: 450px;
  }

  main .carouselContainer .carouselSlider {
    width: 700px;
  }

  main .carouselContainer .buttonsSlider {
    width: 900px;
  }

  main .carouselContainer .carouselSlider .slidesImg .description p {
    font-size: 1em;
  }

  main .carouselContainer .carouselSlider .slidesImg .description div a {
    font-size: 1em;
  }
}


@media (max-width: 940px) {

  main .carouselContainer {
    height: 350px;
  }

  main .carouselContainer .carouselSlider {
    width: 500px;
  }

  main .carouselContainer .buttonsSlider {
    width: 600px;
  }

  main .carouselContainer .carouselSlider .slidesImg .description {
    height: 15%;
  }

  main .carouselContainer .carouselSlider .slidesImg img {
    height: 85%;
  }

  main .carouselContainer .carouselSlider .slidesImg .description p {
    font-size: 1em;
  }

  main .carouselContainer .carouselSlider .slidesImg .description div a {
    font-size: 0.8em;
  }

  main .carouselContainer .buttonsSlider .prevButton,
  main .carouselContainer .buttonsSlider .nextButton {
    font-size: 25px;
  }
}

@media (max-width: 720px) {
  main .carouselContainer {
    height: 350px;
    width: 100vw;
  }

  main .carouselContainer .carouselSlider {
    width: 90%;
  }

  main .carouselContainer .buttonsSlider {
    z-index: 10;
    width: 85%;
  }

  main .carouselContainer .carouselSlider .slidesImg .description p {
    font-size: 0.8em;
  }

  main .carouselContainer .carouselSlider .slidesImg img {
    /* object-position: top; */
  }

  main .carouselTitle {
    font-size: 1em;
    padding: 10px;
    width: 95%;
  }
}

@media (max-width: 425px) {
  main .carouselContainer .carouselSlider .slidesImg .description div a {
    height: 50%;
    width: 80px;
    padding: 0;
    margin-left: 1%;
  }

  main .carouselContainer .carouselSlider .slidesImg .description p {
  margin: 2%;
  padding: 0;
  }

  main .carouselContainer .carouselSlider .slidesImg img {
    height: 80%;
  }
  
  main .carouselContainer .carouselSlider .slidesImg .description {
    height: 20%;
  }

  main .textContainer .text {
    font-size: 1em;
  }

  main .textContainer {
    padding: 25px 0 30px 0;
  }
}

